.frame{
    height: 25rem;
    width: 25rem;
    background-color: white;
    float: right;
    margin-top: -35rem;
    margin-right: 15rem;
}
.frame>p{
    margin-left: 1rem;
}
.bcon{
    display: flex;
    margin-left: 1rem;
    background-color: rgb(227, 227, 227);
    width: 12rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
}
.p1{
    background-color: white;
    padding: 0.5rem;
    margin-right: 0.5rem;
}